.fcolor{
    color: #045291;
    
}
.div1 {

    margin-top: 60px;
}


.nav-pills {
    --bs-nav-pills-link-active-bg: rgba(4, 255, 4, 0.326);
}
.margin{
    margin-top: 15px;
    margin-bottom: 15px;
}




.w-100 {
    height: 450px;
}

.card {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.toggle-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-us {
    text-align: center;
    font-family: sans-serif-bold;
}

.social-image {

    height: 50px;
    width: 50px;
    border-radius: 10%;
}

#mobile_card {

    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;

}

.card-title {
    text-align: center;
}